body{
    padding: 0;
    margin: 0;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    color: coral; /* 1st */
    background: url('http://cdn.abclocal.go.com/images/kgo/cms_exf_2007/news/technology/9495697_1280x720.jpg'); /* 2 */
    background-repeat: no-repeat; /* 3 */
    background-size: 100% 100%; /* 4 */
}

.cityTitle{
    font-size: 24px;
    
}

body *{
    margin-bottom: 5vh;
}

.icon{
    max-height: 300px;
    min-height: 300px;
}
button:hover{ /* 5 */
    border: 1px dashed firebrick; /* 6 */
    background-color: blueviolet; /* 7 */
    border-radius: 50% 50%; /* 8 */
    color: yellow; /* 9 */
    font-style: oblique; /* 10 */

}

input{
    background-color: black;
    color: white;
}